In [1]:
import pandas as pd
import numpy as np
import sqlalchemy

In [2]:
df = pd.read_csv('./data/Airbnb_Open_Data.csv')
df.head()

/tmp/ipykernel_11299/1125398166.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [3]:
df.shape

(102599, 26)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

## Data Cleaning

### Create usable DataFrame

Some of the columns of this DataFrame are of no use for us to conduct the analysis so let's start with removing those first.

In [5]:
df = df.drop(columns=['NAME', 'id', 'host id', 'host name', 'lat', 'long', 'country code', 'last review', 'reviews per month', 'calculated host listings count', 'house_rules', 'license'])

Then, let's remove the spaces from the column names.

In [6]:
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.lower()

---

### Dealing with NaN values

This DataFrame is filled with `NaN` values so we'll deal with some of those that might affect future analysis. Some will remain as `NaN` which will be turn into `NULL` when migrated to MariaDB. Those that remain won't affect analysis and even might serve to answer different questions.

In [7]:
df.isna().sum()

host_identity_verified    289
neighbourhood_group        29
neighbourhood              16
country                   532
instant_bookable          105
cancellation_policy        76
room_type                   0
construction_year         214
price                     247
service_fee               273
minimum_nights            409
number_of_reviews         183
review_rate_number        326
availability_365          448
dtype: int64

In [8]:
df['host_identity_verified'].value_counts()

host_identity_verified
unconfirmed    51200
verified       51110
Name: count, dtype: int64

In [9]:
df['country'].value_counts()

country
United States    102067
Name: count, dtype: int64

In [10]:
df['instant_bookable'].dtype

dtype('O')

In [11]:
df['cancellation_policy'].value_counts()

cancellation_policy
moderate    34343
strict      34106
flexible    34074
Name: count, dtype: int64

In [12]:
df['instant_bookable'].value_counts()

instant_bookable
False    51474
True     51020
Name: count, dtype: int64

In [13]:
df['host_identity_verified'].fillna('unconfirmed', inplace=True)
df['country'].fillna('United States', inplace=True)
df['neighbourhood'].fillna('unspecified', inplace=True)
df['cancellation_policy'].fillna('unspecified', inplace=True)
df['number_of_reviews'].fillna(0, inplace=True)
df['availability_365'].fillna(0, inplace=True)

df['instant_bookable'] = df['instant_bookable'].astype('bool')
df['instant_bookable'].fillna(False, inplace=True)

/tmp/ipykernel_11299/382833050.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_identity_verified'].fillna('unconfirmed', inplace=True)
/tmp/ipykernel_11299/382833050.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna('United States', inplace=True)
/tmp/ipykernel_11299/382833050.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['neighbourhood'].fillna('unspecified', inplace=True)
/tmp/ipykernel_11299/382833050.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cancellation_policy'].fillna('unspecified', inplace=True)
/tmp/ipykernel_11299/382833050.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_reviews'].fillna(0, inplace=True)
/tmp/ipykernel_11299/382833050.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['availability_365'].fillna(0, inplace=True)
/tmp/ipykernel_11299/382833050.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['instant_bookable'].fillna(False, inplace=True)

The logic behind the dealing with this `NaN` values was to keep the more natural logic for each column. The only exception being the `instant_bookable` column, formerly a string column, which was turned into a boolean column, since it only counted with `True` or `False` values. The null values were considered `False`.

The `neighbourhood_group` column requires special treatment, since we have the `neighbourhood` column we can build a dictionary to correlate each neighbourhood with its respective area.

In [14]:
df['neighbourhood_group'].value_counts()

neighbourhood_group
Manhattan        43792
Brooklyn         41842
Queens           13267
Bronx             2712
Staten Island      955
brookln              1
manhatan             1
Name: count, dtype: int64

In [15]:
df['neighbourhood_group'].replace({'brookln': 'Brooklyn', 'manhatan': 'Manhattan'}, inplace=True)
df['neighbourhood_group'].value_counts()

/tmp/ipykernel_11299/2187530835.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['neighbourhood_group'].replace({'brookln': 'Brooklyn', 'manhatan': 'Manhattan'}, inplace=True)

neighbourhood_group
Manhattan        43793
Brooklyn         41843
Queens           13267
Bronx             2712
Staten Island      955
Name: count, dtype: int64

In [16]:
df_ref = df[['neighbourhood_group', 'neighbourhood']].dropna().drop_duplicates()
reference = {}
for key, value in zip(df_ref.neighbourhood, df_ref.neighbourhood_group):
    reference[key] = value

df['neighbourhood_group'] = df.neighbourhood.apply(lambda x: reference[x])
df['neighbourhood_group'].isna().sum()

0

---

### Turn Price from string to float

In [17]:
df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].str.replace(' ', '')
df['price'] = df['price'].astype('float')

df['service_fee'] = df['service_fee'].str.replace(',', '')
df['service_fee'] = df['service_fee'].str.replace('$', '')
df['service_fee'] = df['service_fee'].str.replace(' ', '')
df['service_fee'] = df['service_fee'].astype('float')

In [18]:
df.availability_365.eq(0).sum()

23992

In [19]:
# La siguiente linea de codigo elimina todos las filas cuyas propiedas
# se encuentren sin disponibilidad por el siguiente aÃ±o. Se asume que 
# estas propiedades no se encuentran alquiladas sino que fueron 
# deshabilitadas para evitar su alquiler.
# Esto elimina muchas lineas, debe considerarse si afecta al analisis.

# df = df.loc[df['availability_365'] > 0]

---
---

## DataFrame migration to PostgreSQL

In [20]:
engine = sqlalchemy.create_engine('postgresql://davehigs:1234@localhost/airbnbdata')

df.to_sql('ny_rentals', engine, if_exists='replace')

599